/*1-list-rabota*/
body {
  
}
/*point*/
.site-nav{
  list-style: none;
}


/*Эффективное решение*/
.section{
  font-family:Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /*or 136%*/
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color:#222222;
}
/*Zakaz*/
.beck{
background: #2196F3;
}


.logo {
  font-family:Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /*identical to box heigt*/
  letter-spacing: 0.03em;
  color: #2196f3;
} 
/*Студия*/
.studi{
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #2196f3;
}
/*Портфолио*/
.portfol {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #212121;
}
/*Котакты*/
.kontakt{
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #212121;
}
/*info@devstudio.com*/
.info{
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #2196f3;
}

/*tel+380961111111*/
.tel{
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  color: #757575; 
}

/*Текст*/

/*.title-list {
 list-style: none; 
}*/

/*Tekst*/
.title-list {
  font-family:Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #212121; 
}
.text{
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  color: #757575; 
}
/*Чем мы занимаемся-Наша команда*/
.title{
  font-family:Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121; 
}
/*Команда*/
.title-list {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  
  letter-spacing: 0.03em;
  color: #212121; 
}
/*Текст-2 применил к 1 и 2 листу*/
.text{
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  color: #757575;
}

.logo-text {
  font-family:Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /*identical to box heigt*/
  letter-spacing: 0.03em;
  color: #2196f3; 
}
/*addresa i tel*/
.address {
  font-family:Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  
  letter-spacing: 0.03em;
  color:#222222;
}

/*2-list-rabota*/

.button {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /*identical to box height, or 162%*/
  text-align: center;
  letter-spacing: 0.03em;
  color:#212121
}

/*Все*/
.button-bec {
 background: #2196F3; 
}

/*Студия*/
.studi-text {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color:#212121;
}

/*Партфолио*/
.partfolio {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #2196F3;
}
/*Котакты*/
.kontakt {
  font-family:Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  
  letter-spacing: 0.02em;
  color: #212121;
}
/*Тексты заголовков 2-й лист*/
/*Технокряк*//*Постер*//*Ресторан*/
/*Проект*//*Проект Бох*//*Инспиратион*/
/*Лиметед*//*ЛАБ*//*Гровинг*/
.titi{
  font-family:Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  
  letter-spacing: 0.06em;
  color: #212121;
}











/*Классы мыла и телефон пренес с 1-ст. на 2-ст.*/